.tablam {
  border-collapse: collapse;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 95%;
  border-radius: 60px;
  table-layout: fixed;
}
.tablam a{
  color: #080000 !important;
  font-weight: bold;
  text-decoration: none;
}
.tablam thead th {
  background: rgb(54, 9, 92);
  color: #000000;
  font-family:sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
}
.tablam tr {
  background: #80d5f1;
  margin-bottom: 5px;
}
.tablam th,.tablam td {
  font-family: sans-serif ;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  border-radius: 60px;
}
.opcion-seleccionada {
  background-color: rgb(39, 15, 250);
}
.opcion-seleccionada a {
  color: #ffffff !important;
  font-weight: bold;
  text-decoration: none;
}

